body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Utiliser min-height pour s'assurer que le contenu peut dépasser la hauteur de la fenêtre */
    position: relative; /* Position relative pour les éléments enfants positionnés absolument */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#pass-label {
    font-size: 16px;
}

.logo {
    position: fixed;
    bottom: 5px;
    right: 5px;
    max-width: 150px;
    height: auto;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
    font-size: 28px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour les créateurs */
.creators {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #888; /* Couleur de texte grise */
    font-size: 12px; /* Taille de police plus petite */
}

/* Styles pour le copyright */
.copyright {
    position: absolute;
    bottom: 10px;
    left: 50%; /* Déplacer le texte vers le centre */
    transform: translateX(-50%); /* Ajuster le texte vers la gauche de moitié de sa largeur */
    color: #888;
    font-size: 12px;
}

/* Ajout de styles pour le message de consentement des cookies */
.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.cookie-consent p {
    margin: 0;
}

.cookie-consent button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.cookie-consent button:hover {
    background-color: #0056b3;
}

